<!-- nav-bar header to be rendered in the main layout -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <!-- Brand image in the nav-bar -->  
      <a class="navbar-brand" href="#">
         <%= image_tag("http://www.hollisdesigns.co.uk/images/separators/separator_blog_200x50px.png", :alt => "Brand") %>
      </a>
    </div>
    <!-- Home and Login page navigation -->
<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
  
    <ul class="nav nav-pills marginnav">
        <li class="navbar-text"><%= link_to 'Home', root_path%> </li>
        
      <li class="navbar-text"><%= link_to 'Login',home_login_path %></li>
      </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>