<!-- owl carousel for image slider -->

  <div id="owl-demo">
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/1.jpg", :alt => "Image 1") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/2.jpg", :alt => "Image 2") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/3.jpg", :alt => "Image 3") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/4.jpg", :alt => "Image 4") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/5.jpg", :alt => "Image 5") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/6.jpg", :alt => "Image 6") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/7.jpg", :alt => "Image 7") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/8.jpg", :alt => "Image 8") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/9.jpg", :alt => "Image 9") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/10.jpg", :alt => "Image 10") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/11.jpg", :alt => "Image 11") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/12.jpg", :alt => "Image 12") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/13.jpg", :alt => "Image 13") %></div>
  <div class="item"><%= image_tag("http:\/\/numberonelarge.com\/tapjoy\/images\/14.jpg", :alt => "Image 14") %></div>
  </div>

<link rel = "stylesheet" href="owl-carousel/owl.carousel.css"> 
  <link rel = "stylesheet" href="owl-carousel/owl.theme.css"> 
  <script src = "jqery-1.9.1.min.js"></script>
  <script src = "assets/owl/carousel/owl.carousel.js"></script>
  <script> 
  $(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      autoPlay: 3000, //Set AutoPlay to 3 seconds
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
   });
 
 });
 </script>