<!-- Body rendred in the main layout -->
<div>
<div class="panel panel-default">
  <div class="panel-body center">
    
  <%= link_to 'About Us', root_path, class:'btn btn-primary btn-lg margin' %>
  <%= link_to 'Register', root_path, class:'btn btn-primary btn-lg margin' %>
  <%= link_to 'News', root_path, class:'btn btn-primary btn-lg margin' %>
  <%= link_to 'Contact Us', root_path, class:'btn btn-primary btn-lg margin' %>
  <%= link_to 'Help', root_path, class:'btn btn-primary btn-lg margin' %>
 
</div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <%= image_tag("http://cdn.sheknows.com/articles/2013/04/Puppy_2.jpg", :alt => "rss feed") %>
        <div class="caption center">
        <h4>Caption</h4>
        </div>
     </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <%= image_tag("http://cdn.sheknows.com/articles/2013/04/Puppy_2.jpg", :alt => "rss feed") %>
        <div class="caption center">
        <h4>Caption</h4>
        </div>
     </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <%= image_tag("http://cdn.sheknows.com/articles/2013/04/Puppy_2.jpg", :alt => "rss feed") %>
        <div class="caption center">
        <h4>Caption</h4>
        </div>
     </div>
  </div>
  </div>
</div>

<div>
  <!-- Table -->
  <table class="table table-bordered table-striped center">
        <tr> 
         <td><h4>Name</h4></td>
          <td><h4>Breed</h4></td>
          <td><h4>Weight</h4></td>
        </tr>
        <tr>
          <td>Brian</td>
         <td>Lab</td>
          <td>51</td>
        </tr>
        <tr>
          <td >Kieran</td>
          <td>Samoyed</td>
          <td>32</td>
        </tr>
        <tr>
          <td>Renata</td>
          <td>Coonhound</td>
          <td>29</td>
        </tr>
        <tr>
          <td >Ving</td>
          <td>Boxer</td>
          <td>51</td>
        </tr>
  </table>
</div>
<!--render owl carousel from slider -->
<div>
  <%= render'shared/slider' %>
</div>

</div>