<!-- Layout for the Web page -->
<!DOCTYPE html>
<html>
<head>
  <title>Sai Sindhu Matam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
<!-- Render header -->
<%= render'shared/header' %>
</div>
<div class='container'>
<!-- Renders Body from the main page -->
<%= yield %>
</div>

</body>
</html>
